{% extends 'base.html.twig' %}

{% block title %}
    {% trans from 'base' %}title{% endtrans %} | {% trans from 'player' %}player_index{% endtrans %}
{% endblock %}

{% block body %}
    <h1 class="table-header">
        <i class="material-icons">view_list</i>
        {% trans from 'player'%}player_index{% endtrans %}
    </h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th class="table-first-col"></th>
                <th class="table-first-col"></th>
                <th>{% trans from 'player' %}fullname{% endtrans %}</th>
                <th>{% trans from 'player' %}birth_date{% endtrans %}</th>
                <th>{% trans from 'player' %}birth_place{% endtrans %}</th>
                <th>{% trans from 'player' %}nation_active{% endtrans %}</th>
                <th>{% trans from 'player' %}club_active{% endtrans %}</th>
                <th>{% trans from 'base' %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td class="table-first-col">
                    <img class="player-avatar small" src="{{ asset('/img/player/' ~ player.image) }}"
                         alt="{{ player.firstname }} {{ player.lastname }}"/>
                </td>
                <td class="table-first-col">
                    <img src="{{ asset('/build/img/nation/' ~ player.nation.code ~ '.png') }}"
                         alt="{{ player.nation.name }}" class="nation-flag">
                </td>
                <td>{{ player.firstname }} {% if player.name %}"{{ player.name }}"{% endif %} {{ player.lastname }}</td>
                <td>{{ player.birthDate ? player.birthDate|date('d-m-Y') : '' }}</td>
                <td>{{ player.birthPlace }}</td>
                <td>{{ player.nationActive ? 'Yes' : 'No' }}</td>
                <td>{{ player.clubActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('player_show', {'id': player.id}) }}" class="btn btn-secondary">
                        <i class="material-icons">info_outlined</i>
                        {% trans from 'button'%}show{% endtrans %}
                    </a>
                    <a href="{{ path('player_edit', {'id': player.id}) }}" class="btn btn-secondary">
                        <i class="material-icons">edit</i>
                        {% trans from 'button'%}edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('player_new') }}" class="btn btn-primary">
        <i class="material-icons">add_circle_outline</i>
        {% trans from 'button'%}add{% endtrans %}
    </a>
{% endblock %}
