{% extends 'base.html.twig' %}

{% block title %}Manager index{% endblock %}

{% block body %}
    <h1 class="table-header">
        {{ icon('view_list') }} {% trans from 'manager' %}index{% endtrans %}
    </h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th class="table-first-col"></th>
                <th class="table-first-col"></th>
                <th>{% trans from 'manager' %}fullname{% endtrans %}</th>
                <th>{% trans from 'manager' %}birth_date{% endtrans %}</th>
                <th>{% trans from 'manager' %}birth_place{% endtrans %}</th>
                <th>{% trans from 'base' %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for manager in managers %}
            <tr>
                <td class="table-first-col">
                    <img class="player-avatar small" src="{{ asset('/img/manager/' ~ manager.image) }}"
                         alt="{{ manager.fullname }}"/>
                </td>
                <td class="table-first-col">
                    <img src="{{ asset('/build/img/nation/' ~ manager.nation.code ~ '.png') }}"
                         alt="{{ manager.nation.name }}" class="nation-flag">
                </td>
                <td>{{ manager.fullname }}</td>
                <td>{{ manager.birthDate ? manager.birthDate|date('d-m-Y') ~ ' (' ~ manager.birthDate|years_old() ~ ')' : '' }}</td>
                <td>{{ manager.birthPlace }}</td>
                <td>
                    <a href="{{ path('manager_show', {'id': manager.id}) }}" class="btn btn-secondary">
                        {{ icon('info_outlined') }} {% trans from 'button' %}show{% endtrans %}
                    </a>
                    <a href="{{ path('manager_edit', {'id': manager.id}) }}" class="btn btn-secondary">
                        {{ icon('edit') }} {% trans from 'button' %}edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans from 'base' %}empty_list{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('manager_new') }}" class="btn btn-primary">
        {{ icon('add_circle_outline') }} {% trans from 'button' %}add{% endtrans %}
    </a>
{% endblock %}
