{% extends 'base.html.twig' %}

{% block title %}Nation index{% endblock %}

{% block body %}
    <h1>Nation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nation in nations %}
            <tr>
                <td><img src="/img/nation/{{ nation.code }}.png" alt="{{ nation.name }}" class="nation-flag"></td>
                <td>{{ nation.name }}</td>
                <td>{{ nation.code }}</td>
                <td>
                    <a href="{{ path('nation_show', {'id': nation.id}) }}" class="btn btn-secondary">show</a>
                    <a href="{{ path('nation_edit', {'id': nation.id}) }}" class="btn btn-secondary">
                        <i class="material-icons">edit</i>
                        edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nation_new') }}" class="btn btn-primary">
        <i class="material-icons">add_circle_outline</i>
        Create new
    </a>
{% endblock %}
