{% extends 'base.html.twig' %}

{% block title %}Nation index{% endblock %}

{% block body %}
    <h1 class="table-header">
        <i class="material-icons">view_module</i>
        {% trans from 'nation'%}nation_index{% endtrans %}
    </h1>
    <!--<table class="table table-hover table-dark">
        <thead>
            <tr>
                <th class="table-first-col"></th>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nation in nations %}
            <tr>
                <td class="table-first-col">
                    <img src="/img/nation/{{ nation.code }}.png" alt="{{ nation.name }}" class="nation-flag">
                </td>
                <td>{{ nation.name }}</td>
                <td>{{ nation.code }}</td>
                <td>
                    <a href="{{ path('nation_show', {'id': nation.id}) }}" class="btn btn-secondary">
                        <i class="material-icons">info_outlined</i>
                        {% trans from 'button'%}show{% endtrans %}
                    </a>
                    <a href="{{ path('nation_edit', {'id': nation.id}) }}" class="btn btn-secondary">
                        <i class="material-icons">edit</i>
                        {% trans from 'button'%}edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>-->
    <div class="row">
        {% for nation in nations %}
            <div class="col-md-2 col-sm-4 nation-block">
                <div class="nation-name">{{ nation.name }}</div>
                <div class="nation-image">
                    <img src="/img/nation/{{ nation.code }}.png" alt="{{ nation.name }}">
                    <a href="{{ path('nation_show', {'id': nation.id}) }}" class="btn-action">
                        <i class="material-icons">info_outlined</i>
                    </a>
                    <a href="{{ path('nation_edit', {'id': nation.id}) }}" class="btn-action">
                        <i class="material-icons">edit</i>
                    </a>
                </div>
                <a class="nation-players" href="{{ path('player_index', {'nation': nation.id}) }}">
                    {% trans from 'nation' %}players_count{% endtrans %}: {{ nation.players|length }}
                </a>
            </div>
        {% else %}
            <div>no records found</div>
        {% endfor %}
    </div>

    <a href="{{ path('nation_new') }}" class="btn btn-primary">
        <i class="material-icons">add_circle_outline</i>
        {% trans from 'button'%}add{% endtrans %}
    </a>
{% endblock %}
