{% extends 'base.html.twig' %}

{% block title %}
    {% trans from 'base' %}title{% endtrans %} | {% trans from 'nation' %}nation_index{% endtrans %}
{% endblock %}

{% block body %}
    <h1 class="table-header">
        {{ icon('view_module') }} {% trans from 'nation' %}nation_index{% endtrans %}
    </h1>
    <div class="row">
        {% for nation in nations %}
            <div class="col-md-2 col-sm-4 nation-block">
                <div class="nation-image" style="background-image:
                        url('{{ asset('/build/img/nation/' ~ nation.code ~ '.png') }}')">
                    <div class="nation-name">{{ nation.name }}</div>
                </div>
                <div class="nation-actions">
                    <a href="{{ path('nation_show', {'id': nation.id}) }}" class="btn btn-secondary">
                        {{ icon('info_outlined') }}
                    </a>
                    <a href="{{ path('nation_edit', {'id': nation.id}) }}" class="btn btn-secondary">
                        {{ icon('edit') }}
                    </a>
                </div>
                <a class="nation-players" href="{{ path('player_index', {'nation': nation.id}) }}">
                    {% trans from 'nation' %}players_count{% endtrans %}: {{ nation.players|length }}
                </a>
                <a class="nation-players" href="{{ path('manager_index', {'nation': nation.id}) }}">
                    {% trans from 'nation' %}managers_count{% endtrans %}: {{ nation.managers|length }}
                </a>
            </div>
        {% else %}
            <div>{% trans from 'base' %}empty_list{% endtrans %}</div>
        {% endfor %}
    </div>

    <a href="{{ path('nation_new') }}" class="btn btn-primary">
        {{ icon('add_circle_outline') }} {% trans from 'button'%}add{% endtrans %}
    </a>
{% endblock %}
